.l-page {

    width: 100%;
    height: auto;

    &--with_nav {

        display: grid;
        grid-template-columns: 100%;

        @media (min-width: breakpoint(lg)) {

            grid-template-columns: 30% 70%;

        }

        @media (min-width: breakpoint(xl)) {

            grid-template-columns: 20% 80%;

        }

    }

}

.l-component {

    margin-top: space(2);
    
}