
.c-accordion {

	$self: &;

	width: 95%;
	max-width: 100%;
	overflow: hidden;
	margin: space(2) auto;

	background-color: color(llgrey);
	box-shadow: $base_shadow;

	&--empty {

		display: none;

	}

	&--last {

		& #{$self}__wrapper {

			padding: space(1);
			@include flex(column);

		}

	}

	&__tab {

		border: none;

	}

	&__clicker {

		width: 100%;

		box-shadow: $base_shadow;

		@include flex(row, center, center);

		background-color: color('white');
		padding: space(1) space(2);

		transition: max-height .3s ease-in,
					background-color .3s ease-in-out;

		&:hover, &:focus {

			background-color: color(llgrey);

		}

	}

	&__controller {

		display: none;

	}

	&__legend {

		@include flex(row, space-between, center);
		width: 100%;

	}

	&__headlines {

		@include flex(row, flex-start, center);

	}

	&__link {

		@include flex();
		margin-right: space(1);

		filter: invert(50%);
		transition: filter .3s ease-in-out;

		&:hover {

			filter: invert(20%);

		}

	}

	&__unwrap-icon {

		margin-left: space(2);
		transform: rotateX(0);

		transition: transform .3s ease-in-out;

	}

	&__body {

		max-height: 0px;
		overflow: hidden;
		transition: max-height .3s ease-out;

		&--no-animation {

			transition: none;

		}

	}

}
