
.c-accordion {

	$self: &;

	width: 95%;
	max-width: 100%;
	overflow: hidden;
	margin: space(2) auto;

	background-color: color(llgrey);
	box-shadow: $base_shadow;

	@media (min-width: breakpoint(sm)) {

		width: 80%;

		& #{$self} {
			width: 90%;
		}

	}

	@media (min-width: breakpoint(md)) {

		width: 75%;

	}

	&--empty {

		display: none;

	}

	&--last {

		& #{$self}__wrapper {

			padding: space(1);
			@include flex(column);

		}

	}

	&__tab {

		border: none;

	}

	&__clicker {

		width: 100%;

		box-shadow: $base_shadow;

		@include flex(row, center, center);

		background-color: color('white');
		padding: space(1) space(2);
		border: none;

		cursor: pointer;

		text-align: left;

		transition: max-height .2s ease-in-out,
					background-color .2s ease-in-out;

		@media (min-width: breakpoint(sm)) {

			padding: space(2.5) space(3);

		}

		&:hover {

			background-color: color(llgrey);

		}

	}

	&__controller {

		display: none;

	}

	&__legend {

		@include flex(row, space-between, center);
		width: 100%;

	}

	&__headlines {

		@include flex(row, flex-start, center);

	}

	&__link {

		@include flex();
		margin-right: space(1);

		filter: invert(50%);
		transition: filter .2s ease-in-out;

		&:hover {

			filter: invert(20%);

		}

	}

	&__unwrap-icon {

		margin-left: space(2);
		transform: rotateX(0);

		transition: transform .2s ease-in-out;

		&--active {

			transform: rotateX(180deg);

		}

	}

	&__body {

		max-height: 0px;
		overflow: hidden;
		transition: max-height .2s ease-in-out;

		&--no-animation {

			transition: none;

		}

	}

}
